body {background-color: powderblue;}

h1 {text-align:center;
  color:blue;}

h2 {color:green }
h2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3 {font-size:300%}
ul {font-size:200%}